```powershell
   ████████▓████████████████████████            [ I made this at 4am so dont judge my dirty code ]
   ████████████████████████▓████████.                 [ Tested on Mac OS 10.14+ and Ubuntu 18.04 ]
   █████████████▓███████████████████  
   ███████████████████████████▓████▓  
   ▓░    ▀▀▀▀▓██▓██▓██▓█▓▀▀▀▀▀░   ▀░         ██████  ██ ███████  ██████  ██████  ██████  ██████  
   ▓             ░▓░█▀▀            ▐         ██   ██ ██ ██      ██      ██    ██ ██   ██ ██   ██     
   ▓              ▐█▓▌             ░         ██   ██ ██ ███████ ██      ██    ██ ██████  ██   ██   
   ▓             ▐▐▓▓░            ░▓         ██   ██ ██      ██ ██      ██    ██ ██   ██ ██   ██     
   ▓▄░         ░▄▓▀░▀░▄░         ░░▓         ██████  ██ ███████  ██████  ██████  ██   ██ ██████   
   ▓██▄▄▄▄▄▄▄▄▓░▀▀   ░▀▓▄░▄▄▄▄▄▄▄███        █████  ██    ██ ████████  █████     ██████  ███    ███ 
   ▓██████████▌░  ▐░   ▐████████████       ██   ██ ██    ██    ██    ██   ██    ██   ██ ████  ████ 
   ▓▓▓███████▓▌   ▐▌   ▐▓███████████       ███████ ██    ██    ██    ██   ██    ██   ██ ██ ████ ██ 
   ▓▓▓██▓▓▓▓██▓▄▓▄▄█▄▓▄████▓█▓▓▓▓███       ██   ██ ██    ██    ██    ██   ██    ██   ██ ██  ██  ██ 
   ▓▓▓▓▓▓▓▓░▓▓████░▓████▓██▓░▓▓▓▓▓▓▓       ██   ██  ██████     ██     █████     ██████  ██      ██
        ▓▓▓▐▓▐█▓▐▓▓▐▓█ ▓▌▓▓▓                                [ python :: August 2021 :: version x1 ]
```  
.git
.idea
*.pyc
__pycache__
venv/
.vscode
*.db
database
static/graph_chart
scheduled_tasks/subscription
*.zip
db.sqlite3
logging.log
staticfiles
yfinance.cache
test.py
test1.py
test2.py
admin.py
templates/admin
twitter_img

```powershell
                                 [---------S O U R C E  2 O 2 1---------]
                                 |       ████████  ███   ███            |
                                 |       ███       ███   ███            |
                                 |       ████████  ███   ███            |
                                 |       ███       ███   ████████       |
                                 |                                      |
                                 |      ██████   ██   ██  ██   ██       |
                                 |        ██     ██   ██  ██   ██       |
                                 |        ██     ███████  ███████       |
                                 |        ██     ██   ██    ███         |
                                 |                                      |
                                 |    ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀     |
                                 [----not everything is always clean----]
```
