{% load static %}

<html lang="en" style="--scrollbar-width:10px;">	
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	

		<meta property="og:site_name" name="og:site_name" content="auroratrades.com">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="https://d14eu5yur8w3te.cloudfront.net/cstatic/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
		<meta http-equiv="content-language" content="en-us">
		<title>Aurora Trades | Coming Soon</title>
		<meta property="og:title" name="og:title" content="auroratrades.com">
		<meta property="og:url" name="og:url" content="https://auroratrades.com">
		<meta property="og:description" name="og:description" content="">
		<meta property="og:image" name="og:image" content="{% static 'favicon/share_image.jpg' %}">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="1600">
		<meta property="og:image:height" content="900">
		<meta name="next-head-count" content="11">
		<link rel="preload" href="{% static 'comingSoon/75f720f5f1c1372ac1c4.css' %}" as="style">
		<link rel="stylesheet" href="{% static 'comingSoon/75f720f5f1c1372ac1c4.css' %}" data-n-g="">
		<noscript data-n-css=""></noscript>
		<script defer="" nomodule="" src="comingSoon/polyfills-a40ef1678bae11e696dba45124eadd70.js' %}"></script>
		<script src="{% static 'comingSoon/webpack-ddf40c841ef4b2d8f642.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/framework-92dd00376796ec9cdedf.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/main-23393f935a92524eedc2.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/699-803c254200ddf6133b4a.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/980-d84910baa7f4ff24729d.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/index-0859403d043a0d887e82.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/_buildManifest.js' %}" defer=""></script>
		<script src="{% static 'comingSoon/_ssgManifest.js' %}" defer=""></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		    <link crossorigin="anonymous" media="all" rel="stylesheet" href="{% static 'comingSoon/animations.css' %}" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	    <script src="https://kit.fontawesome.com/251222cadd.js" crossorigin="anonymous"></script>
	        <style type="text/css">
		.font-mktg {
		    width: 275px;
		    float: right;
	    }
	@keyframes features-color-animation--collaboration {
	    0%,
	    100% {
	        filter: hue-rotate(0deg);
	    }
	    50% {
	        filter: hue-rotate(90deg);
	    }
	}
	@keyframes features-color-animation--automation {
	    0%,
	    100% {
	        filter: hue-rotate(0deg);
	    }
	    50% {
	        filter: hue-rotate(-90deg);
	    }
	}
	@keyframes features-color-animation--hue-45 {
	    0%,
	    100% {
	        filter: hue-rotate(45deg);
	    }
	    50% {
	        filter: hue-rotate(-45deg);
	    }
	}
	@keyframes features-color-animation--team-admin {
	    0%,
	    100% {
	        filter: hue-rotate(-20deg);
	    }
	    50% {
	        filter: hue-rotate(70deg);
	    }
	}
	.build-in-animate-0 {
	    animation: features-color-animation--collaboration 10s infinite;
	}
	.build-in-animate-1 {
	    animation: features-color-animation--automation 10s infinite;
	}
	.build-in-animate-2 {
	    animation: features-color-animation--hue-45 10s infinite;
	}
	.build-in-animate-3 {
	    animation: features-color-animation--hue-45 10s infinite;
	}
	.build-in-animate-4 {
	    animation: features-color-animation--hue-45 10s infinite;
	}
	
	    </style>
	</head>
	
	<body>      
		<div id="__next">
			<div id="modal"></div>
			<div id="observerBoundaries-1"></div>
			<div id="observerBoundaries-2"></div>
			<div>
				<section class="shroom-layout marketing__layout" style="position: relative;">
					<div class="shroom-page-header marketing__header shroom-page-header-ghost" style="height: 129px; display: flex; align-items: flex-start; justify-content: space-between; font-family: Poppins; width: 100%;">
						<div class="shroom-page-header-content">
							<div class="shroom-row shroom-row-space-between shroom-row-middle" style="margin: 0px auto; max-width: 1824px; height: 100%; width: 100%;">
								<div class="marketing__login" style="text-align: right; min-width: 300px; position: absolute; top: 25px;right: 50px;">
									<div class="header__loginButton">
										<a href="/oauth2/login/">
											<div class="button gradient-button fade-in">
												<img src="{% static 'comingSoon/WhiteDiscord.svg' %}" height="20" width="20" style="margin-right: 10px;"><span class="full">Login</span><span class="mobile">Login</span>
											</div>
										</a>
									</div> 
								</div>
							</div>
						</div>
					</div>
					<main class="shroom-layout-content">
						<div class="landingPage">
							<div class="landingPage__splash">
								<div class="landingPage__splash__underlay" style="width: 100%; height: 100%;">
	<!-- 							<img src="comingSoon/bgAurora.jpg" alt="bgAurora" width="" height="" style="width: 100%; height: 100%;opacity: .25" > -->
								</div>
								<div class="landingPage__splash__shadow"></div>
								<div class="landingPage__splash__contentWrapper" style="top: -125px;">
	<!-- 								<img class="landingPage__splash__leftChar" src="comingSoon/landing-left-char.png"> -->
									<div class="landingPage__splashContent">
								        <div style="">
										<img class="fade-in landingPage__splashContent__logo" width="275px" src="{% static 'comingSoon/icon-aurora--gradient.png' %}"><br/>
										<img class="fade-in landingPage__splashContent__logoDots build-in-animate-4" src="{% static 'comingSoon/pink-logo-dots.svg' %}"><br/>
										<img class="fade-in" src="{% static 'comingSoon/lolgo_text.png' %}" alt="lolgo_text" width="50%" style="margin-bottom: 50px;"><br/>
										<p class="fade-in">Power Up your trading experience through proprietary tools, scripts, analysis, educational lessons and much more...</p>
										<a class="getMushroomBot" href="https://mushroom.gg/bot/landing">
											<div class="button gradient-button fade-in">Join our Discord</div>
										</a>
	
								        </div>
									</div>
	
	<!-- 								<img class="landingPage__splash__rightChar" src="comingSoon/landing-right-char.png"> -->
									<img style="position: absolute; z-index: 100;margin-top:75px;" class="fade-in landingPage__splash__flyingCoins" src="{% static 'comingSoon/flying-coins.png' %}">
							          <div style="position: absolute; top: 0; left: 0;" class="signup-bg-stars"></div>
								          <div style="position: absolute; top: 0; left: 0;" class="signup-bg-stars-2"></div>
								          <div style="position: absolute; top: 0; left: 0;" class="signup-bg-stars-3"></div>
	
								        <img style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://github.githubassets.com/images/modules/site/home/hero-glow.svg" alt="Glowing universe" class="js-warp-hide position-absolute overflow-hidden home-hero-glow events-none">
								</div>
							</div>
	
	
	<!-- Landing blocks on server quick highlights -->
	
							<div class="section1 landingPage__section">
							    <div class="section1__leftCol">
							        <div class="betterWithMush">
	<!-- 						            <div class="content"><span class="bold">Aurora</span><span class="pink">Trading</span></div> -->
							        </div>
							        <div class="featureCards">
							        {% for i in trending %}
							            <div class="featureCard">
							                <div class="featureCard__icon quests"><img src="https://d14eu5yur8w3te.cloudfront.net/cstatic/quests-purple-feather-icon@2x.png" /></div>
							                <div class="featureCard__title quests">{{i.1}}</div>
							                <div class="featureCard__body">{{i.0}}</span></div>
							            </div>
							        {% endfor %}
							        </div>
							    </div>
	
	
							</div>
	
	<!-- Landing Page Section Selector -->
	
	
							<div class="landingPage__section section3">
								<div class="section3__leftCol">
							        <div class="stackedCards">
							            <div class="stackedCards__card card1"></div>
							            <div class="stackedCards__card card2"></div>
							            <div class="stackedCards__card card3">
							                <img class="card__avatar" style="border-radius: 25px" width="50px" src="https://cdn.discordapp.com/avatars/884179800573493289/0b4531bff520939ee728ccd5907d39ea.webp?size=4096" />
							                <div class="card__body">
							                    <div class="card__title">Bryce<span class="dot">·</span><span class="timestamp">Just Now</span></div>
							                    <div class="card__content">That was insane!!! <span class="mention">$SPY</span> - Thats another 65% in 15 minutes!</div>
							                </div>
							                <img class="card__icon" src="https://d14eu5yur8w3te.cloudfront.net/cstatic/icons/Comment/Comment.svg" />
							            </div>
							        </div>
									<img class="yellowDots" src="{% static 'comingSoon/yellow-dots.svg' %}">
									<div class="storeCards">
										<div class="storeCards__firstRow">
											<div class="storeCardExample">
												<div class="storeCardExample__contentWrapper withRadial">
													<img class="storeCardExample__mainImg gamer-girl" src="comingSoon/gamer-girl.gif">
												</div>
												<h4>Satellites </h4>
 
											</div>
											<div class="storeCardExample">

												<div class="storeCardExample__contentWrapper">
													<img class="storeCardExample__mainImg coins" src="comingSoon/double-coins@2x.png">
												</div>
<!--
												<div class="rankTimestamp">
													<div>
														<img src="{% static 'comingSoon/double-chevron.svg' %}">2x</div>
													<div>
														<img src="{% static 'comingSoon/stopwatch.svg' %}">1h</div>
												</div>
-->
												<h4>Scanners</h4>

											</div>
											<div class="storeCardExample">
												<div class="storeCardExample__contentWrapper withRadial">
													<img class="storeCardExample__mainImg pet2" src="{% static 'comingSoon/pet-example-2.gif' %}">
												</div>
												<h4>Social Analysis</h4>

											</div>
										</div>
										<div class="storeCards__secondRow">
											<div class="storeCardExample">

												<div class="storeCardExample__contentWrapper">
													<img class="storeCardExample__mainImg avatarExample" src="{% static 'comingSoon/avatar-example.gif' %}">
												</div>
												<h4>Company Analysis</h4>

											</div>
											<div class="storeCardExample">

												<div class="storeCardExample__contentWrapper withRadial">
													<img class="storeCardExample__mainImg caramellDansen" src="{% static 'comingSoon/caramell-dansen.gif' %}">
												</div>
												<h4>Trade Alerts</h4>

											</div>
	<!--
											<div class="storeCardExample">
												<div class="price">
													<img src="comingSoon/slanted-coin-mini@2x.png">500</div>
												<div class="storeCardExample__contentWrapper withRadial">
													<img class="storeCardExample__mainImg caramellDansen" src="comingSoon/caramell-dansen.gif">
												</div>
												<h4>Caramell Dansen</h4>
												<p>Profile Pet</p>
											</div>
	-->
										</div>
									</div>
									<img class="flyingCoin flyingCoin-3" src="{% static 'comingSoon/landing-coin-3-mobile.png' %}">
									<img class="flyingCoin flyingCoin-4" src="{% static 'comingSoon/landing-coin-4-mobile.png' %}">
								</div>
								<div class="section3__rightCol">
									<div class="title">All your Stock Analysis Tools in <span class="yellow thicc">One Place</span></div>
									<div class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
									
									<span class="rowWrapper"><div class="row"><div><img src="{% static 'comingSoon/yellow-game-controller.svg' %}"></div>Over 10,000 Stocks with Historical Data</div><div class="row"><div><img src="{% static 'comingSoon/yellow-store-icon.svg' %}"></div>Follow stocks or analysts.</div><div class="row"><div><img src="{% static 'comingSoon/yellow-quest-scroll.svg' %}"></div>Custom <span class="yellow">Dark Pool</span> Scanner.</div>
								</span>
								<a class="getMushroomBot" href="https://mushroom.gg/bot/landing">
									<div class="button yellow-gradient-button gradient-button">Join Premium Today!</div>
								</a>
							</div>
						</div>
	
							<div class="section4 landingPage__section">
							    <div class="section4__leftCol">
								    
								    
	
								    
							        <div class="title">Meet Traders Who <span class="blue thicc">Share</span> the Success</div>
							        <div class="body">Sometimes it really just takes a few like minded peers to compare due diligence, critical think and help with your decision making. Trading alone can be less stressful at times but other times, you need a dependable group of peers that you know you can count on and share a mutual respect for each-others analysis.</div>
							        <div class="row"><div><img src="https://d14eu5yur8w3te.cloudfront.net/cstatic/landing/blue-play-icon-no-shadow.svg" /></div> Live Stream Lessons from <span class="blue">staff</span> with Q&A.</div>
							        <div class="row"><div><img src="https://d14eu5yur8w3te.cloudfront.net/cstatic/landing/blue-heart-icon.svg" /></div>Find which analysts fit your trading style.</div>
							        <div class="row"><div><img src="https://d14eu5yur8w3te.cloudfront.net/cstatic/landing/blue-speech-icon.svg" /></div>Participate in the community and give back! </div>
							        <a class="getMushroomBot" href="/bot/landing"><div class="button blue-gradient-button gradient-button">Join Premium Today!</div></a>
							    </div>
							    <div class="section4__rightCol">
							        <img class="blue-dots" src="https://d14eu5yur8w3te.cloudfront.net/cstatic/landing/blue-dots.svg" />
							        <div class="videoCarousel">
	
							<div class="section5__leftCol" style="margin: auto;">
								<img class="dots" src="{% static 'comingSoon/lfg-dots.svg' %}">
								<img class="web" src="{% static 'comingSoon/lfg-web.svg' %}">
								<img class="animation" src="{% static 'comingSoon/lfg-animation.gif' %}">
								<div class="storyCardExample storyCardExample-1" >
									<div class="mask"></div>
									<div class="mask mask-2"></div>
<!--
									<div class="storyCardExample__avatarNameAndTime">
										<img src="https://cdn.discordapp.com/avatars/884179800573493289/0b4531bff520939ee728ccd5907d39ea.png?size=4096">
										<div class="storyCardExample__nameAndTime">
											<div class="username">Bryce</div>
											<div class="time">2m ago</div>
										</div>
									</div>
-->
									<img src="https://cdn.discordapp.com/avatars/884179800573493289/0b4531bff520939ee728ccd5907d39ea.png?size=4096">
									<h3>Bryce#0202</h3>
								</div>
								<div class="storyCardExample storyCardExample-2" >
									<div class="mask"></div>
									<div class="mask mask-2"></div>
<!--
									<div class="storyCardExample__avatarNameAndTime">
										<img src="https://cdn.discordapp.com/avatars/437755254143189002/63ad7e9a013329141605f8d15e92d9b0.png?size=4096">
										<div class="storyCardExample__nameAndTime">
											<div class="username">CertiDemon</div>
											<div class="time">22m ago</div>
										</div>
									</div>
-->
									<img src="https://cdn.discordapp.com/avatars/810281198768357418/787b3c0a6f4aca7f17b684100ae53cd9.png?size=4096">
									<h3>Lander Buffet#4568</h3>
								</div>
								<div class="storyCardExample storyCardExample-3" >
									<div class="mask"></div>
									<div class="mask mask-2"></div>
<!--
									<div class="storyCardExample__avatarNameAndTime">
										<img src="https://cdn.discordapp.com/avatars/771531679818186763/f4873fba4aa1a68ed0711e76b0bacd1a.png?size=4096">
										<div class="storyCardExample__nameAndTime">
											<div class="username">Hunt</div>
											<div class="time">1h ago</div>
										</div>
									</div>
-->
									<img src="https://cdn.discordapp.com/avatars/771531679818186763/f4873fba4aa1a68ed0711e76b0bacd1a.png?size=4096">
									<h3>Hunt#2020</h3>
								</div>
								<div class="storyCardExample storyCardExample-4">
									<div class="mask"></div>
<!--
									<div class="mask mask-2"></div>
									<div class="storyCardExample__avatarNameAndTime">
										<img src="{% static 'comingSoon/burning-avatar.png' %}">
										<div class="storyCardExample__nameAndTime">
											<div class="username">Lander Buffet</div>
											<div class="time">12m ago</div>
										</div>
									</div>
-->
									<img src="https://cdn.discordapp.com/avatars/437755254143189002/63ad7e9a013329141605f8d15e92d9b0.png?size=4096">
									<h3>Certi#2020</h3>
								</div>
								<div class="storyCardExample storyCardExample-5">
									<div class="mask"></div>
									<div class="mask mask-2"></div>
<!--
									<div class="storyCardExample__avatarNameAndTime">
										<img src="{% static 'comingSoon/squalls-avatar.png' %}">
										<div class="storyCardExample__nameAndTime">
											<div class="username">Squalls</div>
											<div class="time">Just Now</div>
										</div>
									</div>
-->
									<img src="{% static 'comingSoon/gta-avatar.png' %}">
									<h3>Filthy#0202</h3>
								</div>
								<div class="storyCardExample storyCardExample-6" >
									<div class="mask"></div>
									<div class="mask mask-2"></div>
									<div class="storyCardExample__avatarNameAndTime">
										<img src="{% static 'comingSoon/malice-avatar.png' %}">
										<div class="storyCardExample__nameAndTime">
											<div class="username">Malice</div>
											<div class="time">6m ago</div>
										</div>
									</div>
									<img src="{% static 'comingSoon/minecraft-avatar.png' %}">
									<h3>Liam#0420</h3>
								</div>
							</div>
	
	
							        </div>
							    </div>
							</div>
	
<!--
						<div class="section7 landingPage__section">
							<div class="section7__leftCol">
								<img class="dots" src="{% static 'comingSoon/lb-dots.svg' %}">
								<img class="lb-example" src="{% static 'comingSoon/lb-example-cards.png' %}">
								<img class="lb-activity-example" src="{% static 'comingSoon/lb-feed-example-cards.png' %}">
								<div class="card2"></div>
								<div class="card3"></div>
							</div>
							<div class="section7__rightCol">
								<div class="title">Are You The Best? <span class="magenta thicc">Prove It</span>
								</div>
								<div class="body">Sometimes you just want to game alone but other times, you need a dependable squad with that one player who always rushes but it’s OK because they tell funny jokes</div>
								<div class="row">
									<div>
										<img src="{% static 'comingSoon/magenta-graph-icon.svg' %}">
									</div><span><span class="text--full">XP + Game Leveling with</span><span class="text--mini">Game Leveling with</span>  <span class="magenta">Automatic Tracking</span></span>
								</div>
								<div class="row">
									<div>
										<img src="{% static 'comingSoon/magenta-trophy-icon.svg' %}">
									</div><span class="text--full">Leaderboard Filters to Compete with Friends</span><span class="text--mini">Leaderboards to Compete with Friends</span>
								</div>
								<div class="row">
									<div>
										<img src="{% static 'comingSoon/magenta-game-controller.svg' %}">
									</div>2,000 Games Supported &amp; Counting</div>
								<a class="getMushroomBot" href="https://mushroom.gg/bot/landing">
									<div class="button magenta-gradient-button gradient-button">Start Climbing the Leaderboard</div>
								</a>
							</div>
						</div>
-->
			</div>
	
			</main>
			</section>
		</div>
		</div>
	
		<next-route-announcer>
			<p aria-live="assertive" id="__next-route-announcer__" role="alert" style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin: -1px; overflow: hidden; padding: 0px; position: absolute; width: 1px; white-space: nowrap; overflow-wrap: normal;"></p>
		</next-route-announcer>
	</body>
</html>