{% load static %}
                <!-- Footer -->

                <div class="border-top-2 mt-auto">
                    <div class="container-fluid page__container page-section d-flex flex-column">
                        <span class="text-50 small mt-n1 mb-0 d-flex">
	                        <span class="d-flex mrgn-r-a">
	                            <a href=""
	                               class="text-70 text-underline mr-8pt small">Terms</a>
	                            <a href=""
	                               class="text-70 text-underline small">Privacy policy</a>
	                        </span>
	                        	Aurora Trading LLC. 2021 All rights reserved.
	                        <span class="d-flex mrgn-l-a">
	                            <a href=""
	                               class="text-70 text-underline mr-8pt small">Terms</a>
	                            <a href=""
	                               class="text-70 text-underline small">Privacy policy</a>
	                        </span>
                        </span>
                    </div>
                </div>

                <!-- // END Footer -->