body {
  background-color: #36393F;
  font-family: Arial, Helvetica, sans-serif;
  color: #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.embed-urllike-header {
  display: flex;
  font-size: 0.75rem;
  color: #72767d;
}
.loading-preview {
  background: background: url('https://c.tenor.com/HQ_1LH5VzRUAAAAd/discord-loading.gif') 50% 50% no-repeat;
}
.fosscord-input {
  max-width: none;
}
.color-input {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline-style: none;
  background-clip: padding-box;
  appearance: none;
}
@media only screen and (min-width: 600px) {
  .checkbox-margin {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .checkbox-margin {
    margin-top: 1rem !important;
  }
}
@media only screen and (min-width: 1200px) {
  .checkbox-margin {
    margin-top: 1rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .checkbox-margin {
    margin-top: 3.1rem !important;
  }
}
@media only screen and (min-width: 768px) {
  .checkbox-margin {
    margin-top: 3.1rem !important;
  }
}
input[type="color"] {
	-webkit-appearance: none;
	width: 2.5rem;
	height: 2.5rem;
	margin: none;
}

input[type="color"]::-webkit-color-swatch {
	border: 1px solid transparent;
    border-radius: 3px;
}