/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    color: rgba(242, 249, 255, 0.7);
    font-size: .8125rem;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	overflow-x:hidden;
	background-color: transparent;
	line-height: 1;
	font: 12px;
	color: rgba(242, 249, 255, 0.7) !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
select{ color: rgba(242, 249, 255, 0.7) !important; border: rgba(170, 170, 174, 0.5) !important;box-shadow: 0 3px 3px -2px rgb(0 0 0 / 10%), 0 3px 4px 0 rgb(0 0 0 / 4%), 0 1px 8px 0 rgb(0 0 0 / 2%) !important; }

th {
    min-width: 38px;
    padding: 10px;
}

.dark_mode input, input {
    width: 97%;
    height: 100%;
    border: 0;
}

.select_div {
    margin-bottom: 10px;
}

select {
	border: 1px solid #19191a !important;
	border-radius: 6px !important;
	padding: 7px !important;
	margin-top: 10px !important;
	margin-left: 15px !important;
}

#general_stats {
    text-align: center;
}

.chart-container {
    position: relative;
    width:98%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.avg_price_change {
    text-align:center;
    margin-bottom: 3px;
    font-weight: bold;
}