<div class="embed" id="embed_root" style="border-left-color: #36393F;">
    <div class="embed-primary-container">
        <div class="embed-secondary-container"/>
            <span id="embed_header" class="embed-author embed-author-name embed-urllike-header" style="display: none;"></span>
            <a class="embed-title text link" id="embed_title" style="display: none;"></a>
            <span class="embed-description" id="embed_description" style="display: none;"></span>
        </div>
    <img src="" id="embed_thumbnail" style="display: none;" class="embed-thumpnail loading-preview"></img>
    </div>
    <img src="" id="embed_image" style="display: none;" class="embed-image loading-preview"></img>
</div>